* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1180px;
    padding: 0 1rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb {
    margin-bottom: 12px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    max-width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.card:hover{
    transform: translateY(-4px);
    transition: 0.2s ease;
}


img {
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}


h2 {
    text-align: center;
    line-height: 1.2;
}

p {
    text-align: center;
    line-height: 1.5;
    font-size: 0.95rem;
    color: #444;

}
button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: .8rem;
    background-color: violet;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}






@media (max-width: 600px){
    .cards-wrapper{
        flex-direction: column;
        align-items: center;
    }
}













