* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1180px;
    padding: 0 1rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    max-width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;

}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


img {
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}


h2 {
    text-align: center;
    line-height: 1.2;
}

p {
    text-align: center;
    line-height: 1.5;
    color: #444;
    font-size: 0.9rem;
    max-width: 28ch;
    margin-inline: auto;

}
button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: auto;
    background: #d946ef;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
    transform: 0.2s ease;
}

button:hover {
  background-color: #b14ed8;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}








@media (max-width: 600px){
    .cards-wrapper{
        flex-direction: column;
        align-items: center;
    }
}













