* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1180px;
    padding: 0 1rem;
    margin: 0 auto;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
}

.card {
    width: 24%;
    border: gray 1px solid;
    padding: 1rem;
    border-radius: 5px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
}

h2 {
    text-align: center;
    margin-bottom: .5rem;
}

p {
    text-align: center;
    margin-bottom: .5rem;
}
button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: .8rem;
    background-color: violet;
    border-radius: 5px;
    cursor: pointer;
}